h1{
    color: blue;
}

div.searchFormYear {
    position: absolute;
    top: 80px;
    left: 10px;
    width: 200px;
    height: 100px;
}

div.searchFormAge {
    position: absolute;
    top: 80px;
    left: 120px;
    width: 200px;
    height: 100px;
}

div.searchFormIncome {
    position: absolute;
    top: 80px;
    left: 300px;
    width: 300px;
    height: 100px;
}

div.searchFormSex {
    position: absolute;
    top: 80px;
    left: 570px;
    width: 200px;
    height: 100px;
}

div.address {
    position: absolute;
    top: 80px;
    left: 750px;
    height: 100px;
    width: 800px;
}

div.PeopleCount {
    position: absolute;
    top: 400px;
    left: 10px;
}

div.queryTable {
    position: absolute;
    top: 300px;
    left: 10px;
}