h1{
    color: blue;
}

div.searchFormYear {
    position: absolute;
    top: 80px;
    left: 10px;
    width: 200px;
    height: 100px;
}

div.searchFormAge {
    position: absolute;
    top: 80px;
    left: 150px;
    width: 200px;
    height: 100px;
}

div.searchFormIncome {
    position: absolute;
    top: 80px;
    left: 350px;
    width: 300px;
    height: 100px;
}

div.searchFormSex {
    position: absolute;
    top: 80px;
    left: 650px;
    width: 200px;
    height: 100px;
}

div.address {
    position: absolute;
    top: 80px;
    left: 850px;
    height: 100px;
    width: 800px;
}

div.PeopleCount {
    position: absolute;
    top: 400px;
    left: 10px;
}

p{
    position: absolute;
    left: 10px;
    top: 300px;
}